{% extends '../../_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/CUD_order_style.css' %}">{% endblock %}
{% block title %}ToysRent | Create order{% endblock %}

{% block content %}

    <div class="container">
        <center>ORDER FORM</center>

        <div class="order-form">

            <form action="{% url 'toys:order_create' %}" method="POST">
                {% csrf_token %}

                {% if request.session.role == "admin" %}

                    <div class="members">Member :
                        <select name="members">

                            {% for user in members %}
                                <option value="goods">{{ user.3 }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="goods">Goods :
                        <select name="goods">

                            {% for item in goods %}
                                <option value="goods">{{ item.1 }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="rent">Rent duration :
                        <input type="text" name="rent_dur" id="rent_dur" class="form-control"
                               placeholder="in days time">
                    </div>

                {% elif request.session.role == "member" %}


                    <div class="goods">Goods :
                        <select name="goods">

                            {% for item in goods %}
                                <option value="goods">{{ item.1 }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="rent">Rent duration :
                        <input type="text" name="rent_dur" id="rent_dur" class="form-control"
                               placeholder="in days time">
                    </div>

                {% endif %}

                <center>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                        Proceed
                    </button>
                </center>


                <div id="createModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header"><h1>Total Price</h1></div>
                            <div class="modal-body">
                                <center>Rp. something</center>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}