{% extends '../../_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/see_order_style.css' %}">{% endblock %}
{% block js %}
    <script src="{% static 'js/goods_pagination.js' %}"></script>{% endblock %}
{% block title %}ToysRent | Order list{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="title-judul">Order List</h1>

        <div class="input-search">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for status"
                   title="Type the status">
        </div>

        <table id="table">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Goods Quantity</th>
                <th>Rent Price</th>
                <th>Charge</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>

            {% if request.session.role == "member" %}

                <tbody id="myTable">
                {% for ord in order_member %}
                    <tr>
                        <td>{{ ord.0 }}</td>
                        <td>{{ ord.2 }}</td>
                        <td>{{ ord.3 }}</td>
                        <td>{{ ord.4 }}</td>
                        <td>{{ ord.6 }}</td>
                        <td>
                            <a href="{% url 'toys:order_delete' ord.0 %}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>

                            <a href="{% url 'toys:order_update' ord.0 %}">
                                <button type="button" class="btn btn-primary">Update</button>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% elif request.session.role == "admin" %}

                <tbody id="myTable">
                {% for ord in order_admin %}

                    <tr>
                        <td>{{ ord.0 }}</td>
                        <td>{{ ord.2 }}</td>
                        <td>{{ ord.3 }}</td>
                        <td>{{ ord.4 }}</td>
                        <td>{{ ord.6 }}</td>
                        <td>
                            <a href="{% url 'toys:order_delete' ord.0 %}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>

                            <a href="{% url 'toys:order_update' ord.0 %}">
                                <button type="button" class="btn btn-primary">Update</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% endif %}

        </table>


        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </nav>

    </div>

{% endblock %}