{% extends '../../_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/CUD_order_style.css' %}">{% endblock %}
{% block title %}ToysRent | Update order{% endblock %}

{% block content %}

    <div class="container">
        <center>ORDER UPDATE FORM</center>

        <div class="order-form">
            <form action="{% url 'toys:order_make_update' %}" method="POST">
                {% csrf_token %}
                <div class="goods">Goods :
                    <select name="goods">

                        {% for item in good %}
                            <option value="{{ item }}" selected>{{ item.1 }}</option>
                        {% endfor %}

                        {% for it in goods %}
                            <option value="{{ it }}">{{ it.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% for re in rent %}
                    <div class="rent">Rent Duration:
                        <input type="text" name="rent_dur" id="rent_dur" class="form-control"
                               placeholder="in days time" value="{{ re.4 }}">
                    </div>
                {% endfor %}

                {% if request.session.role == "admin" %}
                    <div class="status">Status :
                        <select name="status">

                            {% for st in stats %}
                                <option value="{{ st.0 }}" selected>{{ st.0 }}</option>
                            {% endfor %}

                            {% for sta in status %}
                                <option value="{{ sta.0 }}">{{ sta.0 }}</option>
                            {% endfor %}

                        </select>
                    </div>
                {% endif %}

                <div class="order_id">Order Id :
                    <select name="order_id">

                        {% for i in rent %}
                            <option value="{{ i.0 }}" selected>{{ i.0 }}</option>
                        {% endfor %}

                    </select>
                </div>

                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </center>
            </form>

        </div>
    </div>
{% endblock %}