{% extends '../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}
{% block title %}ToysRent | Login{% endblock %}

{% block content %}
{% include '../partials/_header.html' with title="Login Form" %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <form action="{% url 'account:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="ktpNum">KTP Number</label>
          <input type="text" class="form-control {% if form.error.id_number %}is-invalid{% endif %}" name="id_number" id="ktpNum" 
              placeholder="KTP Number" value="{{form.data.id_number}}" required autofocus>
          <div class="invalid-feedback">{{form.error.id_number}}</div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" name="email" id="inputEmail" class="form-control {% if form.error.email %}is-invalid{% endif %}" 
              placeholder="Email"  value="{{form.data.email}}" required>
          <div class="invalid-feedback">{{form.error.email}}</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}