{% extends '../_base.html' %}
{% load static %}

{% block title %}ToysRent | Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ full_name }}'s Profile</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>Id Number</td>
          <td>{{ id_number }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ email }}</td>
        </tr>
        <tr>
          <td>Birth Date</td>
          <td>{{ birth_date }}</td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>{{ phone_num }}</td>
        </tr>
        {% if request.session.role == 'member' %}
        <tr>
          <td>Level</td>
          <td>{{ level }}</td>
        </tr>
        <tr>
          <td>Point</td>
          <td>{{ point }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>
{% endblock %}