{% extends '../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}
{% block js %}<script src="{% static 'js/register.js' %}"></script>{% endblock %}
{% block title %}ToysRent | Register Member{% endblock %}

{% block content %}
{% include '../partials/_header.html' with title="Registration Form" %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <form action="{% url 'account:register_member' %}" method="POST">
        {% csrf_token %}
        <ul class="nav nav-tabs mb-2">
          <li class="nav-item">
            <a class="nav-link active">As Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:register_admin' %}">As Admin</a>
          </li>
        </ul>
        <div class="form-group">
          
        </div>
        <div class="form-group">
          <label for="inputKtpNum">KTP Number</label>
          <input type="text" name="id_number" id="inputKtpNum" 
              class="form-control {% if form.error.id_number %}is-invalid{% endif %}" 
              placeholder="KTP Number" value="{{form.data.id_number}}" required>
          <div class="invalid-feedback">{{form.error.id_number}}</div>
        </div>
        <div class="form-group">
          <label for="inputFullName">Full Name</label>
          <input type="text" name="full_name" id="inputFullName" 
              class="form-control {% if form.error.full_name %}is-invalid{% endif %}" 
              placeholder="Full Name" value="{{form.data.full_name}}" required>
          <div class="invalid-feedback">{{form.error.full_name}}</div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" name="email" id="inputEmail" 
              class="form-control {% if form.error.email %}is-invalid{% endif %}" 
              placeholder="Email" value="{{form.data.email}}" required>
          <div class="invalid-feedback">{{form.error.email}}</div>
        </div>
        <div class="form-group">
          <label for="inputBirthdate">Birthdate</label>
          <input type="text" name="birth_date" id="inputBirthdate" 
              class="form-control {% if form.error.birth_date %}is-invalid{% endif %}" 
              placeholder="Birthdate" value="{{form.data.birth_date}}">
          <div class="invalid-feedback">{{form.error.birth_date}}</div>
        </div>
        <div class="form-group">
          <label for="inputPhone">Phone Number</label>
          <input type="text" name="phone_num" id="inputPhone" 
              class="form-control {% if form.error.phone_num %}is-invalid{% endif %}" 
              placeholder="Phone Number" value="{{form.data.phone_num}}">
          <div class="invalid-feedback">{{form.error.phone_num}}</div>
        </div>
       
        <div class="control-group" id="fields">
          <label class="control-label" for="field1">Address</label>
          <div class="controls"> 
            <div class="address-fields">
              <div class="entry col-xs-3">
                <div class="form-row">
                  <div class="col-12 mb-3 input-group">
                    <input class="form-control {% if form.error.address %}is-invalid{% endif %}" 
                        name="address[]" type="text" placeholder="Name" required/>
                    <span class="input-group-btn">
                      <button class="btn btn-success btn-add" type="button">
                      <i class="fas fa-plus-circle"></i>
                      </button>
                    </span>
                    <div class="invalid-feedback">{{form.error.address}}</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3 mb-3">
                    <input class="form-control" name="address[]" type="text" 
                        placeholder="Road" required/>
                  </div>
                  <div class="col-3 mb-3">
                    <input class="form-control" name="address[]" type="text" 
                        placeholder="Number" required/>
                  </div>
                  <div class="col-3 mb-3">
                    <input class="form-control" name="address[]" type="text" 
                        placeholder="City" required/>
                  </div>
                  <div class="col-3 mb-3">
                    <input class="form-control" name="address[]" type="text" 
                        placeholder="PostCode" required/>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}