{% extends '../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin" action="{% url 'toys:level_create' %}" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Add Level Form</h2>
    <label for="inputName">Level Name</label>
    <input type="text" name="level_name" id="inputLevelName" class="form-control" placeholder="Level Name" required>
    <label for="inputPoints">Minimum Points</label>
    <input type="number" name="minimum_points" id="inputPoints" class="form-control" placeholder="Minimum Points">
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock %}