{% extends '../../_base.html' %} 

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Level Name</th>
        <th scope="col">Description</th>
        <th scope="col">Minimum points</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in membership_level_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.0 }}</td>
        <td>{{ item.2 }}</td>
        <td>{{ item.1 }}</td>
        <td>
            <a class="btn-link" href="{% url 'toys:level_update' item.0 %}">
              <button type="button" class="btn btn-success">Edit</button></a>          
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal{{ forloop.counter }}">
              Delete</button>
        </td>
        <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete the membership level: {{ item.0 }}?
                </div>
                <div class="modal-footer">
                    <a class="btn-link" href="{% url 'toys:level_delete' item.0 %}">
                      <button type="button" class="btn btn-danger">Delete</button></a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
      </tr>
      {% endfor %}
      <!-- <tr>
        <th scope="row">1</th>
        <td>Gold</td>
        <td>Highest level</td>
        <td>1000</td>
        <td>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">etc</th>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        <td>
          <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
{% endblock %}