{% extends '../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}

{% block content %}
{% for item in membership_level %}
<div class="container">
  <form class="form-signin" action="{% url 'toys:level_update' item.0 %}" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Update Level Form</h2>
    <label for="inputName">Level Name</label>
    <input type="text" name="level_name" id="inputName" class="form-control" value="{{ item.0 }}" placeholder="Level Name" readonly>
    <label for="inputMinPoints">Minimum Points</label>
    <input type="number" name="minimum_points" id="inputMinPoints" class="form-control" value="{{ item.1 }}" placeholder="Minimum Points">
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" class="form-control" value="{{ item.2 }}" placeholder="Description">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endfor %}
{% endblock %}