{% extends '../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/goods/create_update.css' %}">{% endblock %}

{% block content %}
<!-- "718-95-807"	"Sonsing"	"Puce"	"http://dummyimage.com/237x107.jpg/5fa2dd/ffffff"	"under_repair"	80	"719-94-9942" -->
<div class="container">
  <h1>{{ obj.0.1 }}</h1>
  <table class="table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ obj.0.0 }}</td>
      </tr>
      <tr>
        <td>Item Name</td>
        <td>{{ obj.0.1 }}</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>{{ obj.0.2 }}</td>
      </tr>
      <tr>
        <td>Photo</td>
        <td>{{ obj.0.3 }}</td>
      </tr>
      <tr>
        <td>Condition</td>
        <td>{{ obj.0.4 }}</td>
      </tr>
      <tr>
        <td>Usage Duration</td>
        <td>{{ obj.0.5 }}</td>
      </tr>
      <tr>
        <td>Renter ID</td>
        <td>{{ obj.0.6 }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}