{% extends '../../_base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/goods/goods_list.css' %}">{% endblock %}
{% block js %}<script src="{% static 'js/goods_pagination.js' %}"></script>{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12 justify-content-around d-flex" style="margin:2rem 0;">
        <div class="col-md-12 d-flex" >
            <form method="GET" action="#" class="col-md-12 justify-content-space-between d-flex">
            <div class="col-md-3" >
                <label>Sort by: </label>
                <select name="sort_by">
                    <option value="">None</option>
                    <option value="category_name">Category & Condition</option>
                    <option value="item_name">Goods Name</option>
                </select>
            </div>
            <div class="col-md-3" >
                <label>Filter Category name by: </label>
                <select name="category_filter">
                    <option value=""> None </option>
                    {% for category in categories %}
                        <option value="{{ category.0 }}"> {{ category.0 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <button class="btn btn-success"> Find </button>
        </div>
        </form>
    </div>
	<div class="row">
      <div class="table-responsive">
          <form method="post">
            {% csrf_token %}
            <table class="table table-hover" id="goods_table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Goods ID</th>
                  <th>Item Name</th>
                  <th>Color</th>
                  <th>Condition</th>
                  <th>Action</th>
                  {% if role == 'member' %}  <th>Order</th> {% endif %}
                </tr>
              </thead>
              <tbody id="myTable">
              {% for item in res  %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ item.0 }}</td>
                  <td>{{ item.1 }}</td>
                  <td>{{ item.2 }}</td>
                  <td>{{ item.4 }}</td>
                    <td>
                          <input type="hidden" name="object" value="{{ item }}">
                          <a href="{% url 'toys:goods_detail' item.0 %}" class="btn btn-primary" name="detail">See details</a>
                          {% if role == 'admin' %}
                          <a href="{% url 'toys:goods_update' item.0 %}" class="btn btn-warning" name="edit">Edit</a>
                          <button type="button" class="btn btn-danger" name="delete" data-toggle="modal" data-target="#myModal{{ item.0 }}">Delete</button>
                            <div class="modal fade" id="myModal{{ item.0 }}" role="dialog">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">
                                <div class="modal-header">
                                   <h5>Are you sure?</h5>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure, you would like to delete item : {{ item.1 }} <i>({{ item.0 }})</i> ?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'toys:goods_delete' item.0 %}"><button type="button" class="btn btn-danger" > Yes </button></a>
                                </div>
                              </div>
                            </div>
                          </div>
                           {% endif %}
                    </td>
                    {% if role == 'member' %}
                    <td>
                       <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="checked" id="order{{ item.0 }}" value="{{ item.0 }}" {% for order in orders %} {% if order == item.0 %} checked {% endif %} {% endfor %}>
                            <label class="custom-control-label" for="order{{ item.0 }}">Order</label>
                       </div>
                   </td>
                    {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="col-md-12 justify-content-around d-flex" id="not_found">
                <p style="display:none;">Goods not found</p>
            </div>
            {% if role == 'member' %}
            <button type="submit" class="btn btn-success" name="order">Order</button>
            {% endif %}
          </form>
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
	</div>
</div>
{% endblock %}