{% extends '../_base.html' %}
{% load static %}

{% block title %}ToysRent{% endblock %}
{% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">We are ToysRent</h1>
    <p class="lead">We rent toys</p>
    <hr class="my-4">
    <p>Rent your toys now!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'account:login' %}" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="{% url 'account:register' %}" role="button">Register</a>
  </div>
</div>
{% endblock %}