{% extends '../../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}
{% block title %}ToysRent | Login{% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin" action="#" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Write Review Form</h2>
    <label for="goods" class="sr-only">Goods</label>
    <select class="custom-select" name="goods" id="goods">
      <option value="1">Table</option>
      <option value="2">Chair</option>
      <option value="3">Whiteboard</option>
    </select>
    <label for="review" class="sr-only">Review</label>
    <input type="text" name="review" id="review" class="form-control" placeholder="description" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock %}