{% extends '../../../_base.html' %}
{% load static %}

{% block title %}ToysRent | Goods Review Index{% endblock %}

{% block content %}
<div class="container">
    <h1>Goods review index</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Delivery Id</th>
          <th scope="col">Goods</th>
          <th scope="col">Review</th>
          <th scope="col">Review date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Crown X brand blue color</td>
          <td>Pretty good enough</td>
          <td>April 20 2019</td>
          <td>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}