{% extends '../../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}
{% block title %}ToysRent | Login{% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin" action="#" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Update Review Form</h2>
    <label class="sr-only">Goods</label>
    <input type="text" class="form-control" value="Crown X brand red color" disabled>
    
    <label for="review" class="sr-only">Review</label>
    <input type="text" name="review" id="review" class="form-control" placeholder="description" value="past review content" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock %}