#header{
    border-top: 1px solid rgba(0,0,0,0.3);
}

.dashboard-text,.welcome-text {
    margin: 0 2rem;
}

.dashboard-text p,.welcome-text p {
    margin: 0;
}

.dashboard-text p{
    font-weight:500;
}

.dashboard-text span{
    font-size:0.75rem;
    font-weight:500;
    opacity:0.25;
}

.welcome-text span{
    color:midnightblue;
    font-weight: 500;
}