<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ToysRent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <ul class="navbar-nav mt-2 mt-lg-0 text-dark">
      {% if request.session.id %}
      <li class="nav-item ml-2">
          <a class="nav-link btn-block" href="{% url 'account:profile' %}">{{ request.session.username }}'s Profile</a>
      </li>
        {% if request.session.role == "member" %}
        <li class="nav-item ml-2">
          <a class="nav-link btn-block" href="{% url 'toys:item_index' %}">List of Item</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link btn-block" href="#">List of Goods</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'toys:order_create' %}">Make Order</a>
            <a class="dropdown-item" href="{% url 'toys:order_index' %}">List of Order</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Delivery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'toys:delivery_create' %}">Make Delivery</a>
            <a class="dropdown-item" href="{% url 'toys:delivery_index' %}">List of Deliveries</a>
          </div>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link btn-block" href="#">Chat with Admin</a>
        </li><li class="nav-item ml-2">
          <a class="nav-link btn-block" href="#">List of Goods Review</a>
        </li>
        {% elif request.session.role == "admin" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Item
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'toys:item_create' %}">Add Item</a>
            <a class="dropdown-item" href="{% url 'toys:item_index' %}">List of Item</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Goods
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'toys:goods_create' %}">Add Goods</a>
            <a class="dropdown-item" href="{%url 'toys:goods_index' %}">List of Goods</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Level
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'toys:level_create' %}">Add Level</a>
            <a class="dropdown-item" href="{% url 'toys:level_index' %}">List of Levels</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'toys:order_create' %}">Make Order</a>
            <a class="dropdown-item" href="{% url 'toys:order_index' %}">Register List of Order</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Delivery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'toys:delivery_create' %}">Make Delivery</a>
            <a class="dropdown-item" href="{% url 'toys:delivery_index' %}">List of Deliveries</a>
          </div>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link btn-block" href="#">Chat with User</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link btn-block" href="#">Register Goods Review</a>
        </li>
        {% endif %}
      <li>
        <form action="{% url 'account:logout' %}" method="POST">
          {% csrf_token %}
          <button class="nav-link" type="submit">Logout</button>
        </form>
      </li>
      {% else %}
      <!-- not logged in -->
      <li class="nav-item ml-2">
        <a class="nav-link" href="{% url 'account:login' %}">Login</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" role="button" href="{% url 'account:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>