body{
    height:100vh;
    width:100vw;
    max-height: 100vh;
    background:#fcfcfc;
}


#header{
    border-top: 1px solid rgba(0,0,0,0.3);
}

.dashboard-text,.welcome-text {
    margin: 0 2rem;
}

.dashboard-text p,.welcome-text p {
    margin: 0;
}

.dashboard-text p{
    font-weight:500;
}

.dashboard-text span{
    font-size:0.75rem;
    font-weight:500;
    opacity:0.25;
}

.welcome-text span{
    color:midnightblue;
    font-weight: 500;
}

.portlet {
    flex:1;
    height:100vh;
    margin:10px;
}

.activity-container {
    background: white;
    width:400px;
    height:80%;
    margin:5px;
    flex-direction:column;
    border-radius:10px;
    box-shadow: 15px 15px 22px -19px rgba(0,0,0,0.67);
}

#admin-whole-container {
    justify-content: space-between;
    align-items: flex-start;
    height:100%;
    overflow: hidden;
    position:relative;
}

.box-container{
    height:500px;
    display:flex;
}

.widget-wrapper {
    margin-top:-3rem;
    width:300px;
    height:250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget{
    width:150px;
    height:100px;
    background: white;
    margin:4px;
    box-shadow: -1px 0px 17px -8px rgba(0,0,0,0.75);
}

.pink-box {
    height:60%;
    background:rgb(255,20,147);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}