.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.right {
  color: #aaa;
}

.input-style{
  margin-top: 20px;
}

.title-chat{
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 30px;
}

/*=======================================================*/

.list-user{
  border-style: solid;
  border-radius: 25px;
  height: 100%;
  width: 500px;
  margin-left: 20px;
  float: left;
}

.head{
  border-bottom: 3px solid;
  padding-left: 15px;
  margin-bottom: 0px;
}

.mini-user{
  width: 495px;
  text-align: center;
  font-size: large;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid black;
}

.first-user{
  width: 495px;
  text-align: center;
  font-size: large;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid black;
  background-color: #ddd;
}

.last-user{
  width: 495px;
  text-align: center;
  font-size: large;
  margin-top: 40px;
  padding-bottom: 40px;
}

.chat-message{
  float: left;
  border: solid;
  margin-left: 50px;
  margin-top: 50px;
}