.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.submit-order-button{
   text-align: center;
}

.order-form{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5px;
}

.container{
  margin-top: 50px;
}

.goods{
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.members{
  margin-top: 30px;
  margin-left: 100px;
}

.rent{
  margin-left: 100px;
  margin-bottom: 40px;
}

.status{
  margin-left: 100px;
  margin-bottom: 50px;
}

.order_id{
  margin-left: 100px;
}
