table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.title-judul{
  margin-left: 30px;
  margin-top: 10px;
}

.input-search{
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
