{% extends '../_base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/admin_page.css' %}">{% endblock %}
{% block content %}
    <div class="d-flex p-2 justify-content-between " id="header">
        <div class="dashboard-text">
            <p>Dashboard | <span>#{{ userid }}</span></p>
        </div>
        <div class="welcome-text">
            <p>Welcome <span>{{ username }}</span></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="addContainer">
                <form id="registrationForm" class="form-horizontal fv-form fv-form-bootstrap" method="post">
                    <h4>Goods Registration</h4>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Goods ID</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="goods_id" placeholder="Goods identification number" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Item name</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="item"  required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Color</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="color" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Photo url:</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="photo" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Condition:</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="condition" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Usage length:</label>
                        <div class="col-xs-9">
                            <input type="number" min="0" class="form-control" name="usage" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Owner</label>
                          <select class="form-control">
                              <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                          </select>
                    </div>
                    <br/>
                    <h4> Goods Info</h4>
                    <div class="form-group">
                        <h6>+ Bronze level</h6>
                        <label class="col-xs-3 control-label" style="margin-left:3rem">Royalty Percentage</label>
                        <div class="col-xs-9" style="margin-left:3rem">
                            <input type="number" min="0" class="form-control" name="bronze_royalty" required/>
                        </div>
                        <label class="col-xs-3 control-label" style="margin-left:3rem">Rent Price</label>
                        <div class="col-xs-9" style="margin-left:3rem">
                            <input type="number" min="0" class="form-control" name="bronze_rent" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h6>+ Silver level</h6>
                        <label class="col-xs-3 control-label" style="margin-left:3rem">Royalty Percentage</label>
                        <div class="col-xs-9" style="margin-left:3rem">
                            <input type="number" min="0" class="form-control" name="silver_royalty" required/>
                        </div>
                        <label class="col-xs-3 control-label" style="margin-left:3rem">Rent Price</label>
                        <div class="col-xs-9" style="margin-left:3rem">
                            <input type="number" min="0" class="form-control" name="silver_rent" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h6>+ Gold level</h6>
                        <label class="col-xs-3 control-label" style="margin-left:3rem">Royalty Percentage</label>
                        <div class="col-xs-9" style="margin-left:3rem">
                            <input type="number" min="0" class="form-control" name="gold_royalty" required/>
                        </div>
                        <label class="col-xs-3 control-label" style="margin-left:3rem">Rent Price</label>
                        <div class="col-xs-9" style="margin-left:3rem">
                            <input type="number" min="0" class="form-control" name="gold_rent" required/>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="d-flex p-4 justify-content-between " id="header" style="margin-top:1rem;">
            <div class="dashboard-text">
                <p>Toysrent 2019</p>
            </div>
            <div class="welcome-text">
                <p>Pls this is so painful</p>
            </div>
        </div>
    </div>
{% endblock %}

{#    <div class="d-flex" id="admin-whole-container">#}
{#        <div class="portlet">#}
{#            <div class="d-flex activity-container">#}
{#                <div class="pink-box">#}
{#                    <h1>Activity</h1>#}
{#                </div>#}
{#                <div class="box-container justify-content-center align-items-start ">#}
{#                    <div class="widget-wrapper">#}
{#                        <div class="d-flex inside-wrapper">#}
{#                            <div class="order widget"></div>#}
{#                            <div class="member widget"></div>#}
{#                        </div>#}
{#                        <div class="d-flex inside-wrapper">#}
{#                            <div class="sent-goods widget"></div>#}
{#                            <div class="returned-goods widget"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="d-flex portlet"></div>#}
{#        <div class="d-flex portlet"></div>#}