{% extends '../../_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block js %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}
{% include '../../partials/_header.html' with title="Item Registration Form" %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <form action="{% url 'toys:item_create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" 
              class="form-control {% if form.error.name %}is-invalid{% endif %}"
              placeholder="Name" value="{{form.data.name}}" required autofocus>
          <div class="invalid-feedback">{{form.error.name}}</div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="description" name="description" id="description" 
              class="form-control {% if form.error.description %}is-invalid{% endif %}" 
              placeholder="description"  value="{{form.data.description}}">
          <div class="invalid-feedback">{{form.error.description}}</div>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="number" name="min_age" id="min_age" min="0" max="100" 
                class="form-control {% if form.error.min_age %}is-invalid{% endif %}" 
                placeholder="min_age"  value="{{form.data.min_age}}" 
                style="width: 20%; display: inline-block;" required>
            -
            <input type="number" name="max_age" id="max_age" min="0" max="100" 
                class="form-control {% if form.error.max_age %}is-invalid{% endif %}" 
                placeholder="max_age"  value="{{form.data.max_age}}" 
                style="width: 20%; display: inline-block;" required>
            <div class="invalid-feedback">{{form.error.min_age}}</div>
            <div class="invalid-feedback">{{form.error.max_age}}</div>
          </div>
        <div class="form-group">
          <label for="material">Material</label>
          <input type="material" name="material" id="material" 
              class="form-control {% if form.error.material %}is-invalid{% endif %}" 
              placeholder="material"  value="{{form.data.material}}">
          <div class="invalid-feedback">{{form.error.material}}</div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <select id="category" name="category" multiple class="selectpicker 
                  {% if form.error.material %}is-invalid{% endif %}">
                {% for category in form.category_select %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">{{form.error.material}}</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}