{% extends '../../_base.html' %} 
{% load static %}

{% block js %}<script src="{% static 'js/goods_pagination.js' %}"></script>{% endblock %}

{% block content %}
{% include '../../partials/_header.html' with title="Item List" %}
<div class="container">
  <div class="dropdown" style="display: inline-block">
    <button class="btn btn-secondary dropdown-toggle" type="button" 
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for c in category_select %}
      <a class="dropdown-item" href="{% url 'toys:item_index_category' c %}">{{ c }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="dropdown" style="display: inline-block">
    <button class="btn btn-secondary dropdown-toggle" type="button" 
        id="dropdownSorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sorting
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownSorting">
      <a class="dropdown-item" href="{% url 'toys:item_index_sort' 1 %}">Name ASC</a>
      <a class="dropdown-item" href="{% url 'toys:item_index_sort' 2 %}">Name DESC</a>
      <a class="dropdown-item" href="{% url 'toys:item_index_sort' 3 %}">Category ASC</a>
      <a class="dropdown-item" href="{% url 'toys:item_index_sort' 4 %}">Category DESC</a>
    </div>
  </div>
  {% if category %}
  <h5>filtered by category {{category}}</h5>
  {% endif %}
  {% if sort %}
  <h5>sorted by 
    {% if sort == 1 %}
    Name ASC
    {% elif sort == 2 %}
    Name Desc
    {% elif sort == 3 %}
    Category ASC
    {% elif sort == 4 %}
    Category DESC
    {% endif %}
  </h5>
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Item Name</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for item_name, item_categories in data.items %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item_name }}</td>
        <td>{{ item_categories|join:", " }}</td>
        <td>
          <a type="button" class="btn btn-primary">See goods</a>
          {% if request.session.role == 'admin' %}
          <a href="{% url 'toys:item_update' item_name %}" type="button" class="btn btn-warning">Update</a>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ item_name }}">
            Delete
          </button>
          <div class="modal fade" id="exampleModal{{ item_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ item_name }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form action="{% url 'toys:item_delete' item_name %}" method="POST">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm delete {{ item_name }}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <a type="button" class="btn btn-primary">Add goods</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg pager" id="myPager"></ul>
  </nav>
</div>
{% endblock %}
