{% extends '../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/chat_style.css' %}">{% endblock %}
{% block title %}ToysRent | Chat Member{% endblock %}

{% block content %}
    <h2 class="title-chat">Chat Messages</h2>

    <div class="container darker">
      <h1 class="right">USER</h1>
      <p>Hello admin, I would like to discuss something with you</p>
    </div>

    <div class="container">
      <h1>ADMIN</h1>
      <p>Hello user, what do you want to discuss?</p>
    </div>

    <div class="container darker">
      <h1 class="right">USER</h1>
      <p>Who do you think is the best girl? and why is it Yotsuba?</p>
    </div>

    <center>
        <form class="input-style">
            <input type="text" >
            <input type="submit" name="submit" value="Send">
        </form>
    </center>
{% endblock %}
