{% extends '../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin" action="{% url 'toys:delivery_create' %}" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Create Delivery Form</h2>
    <label for="inputOrderedGoods">Ordered Goods</label>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" name="ordered_goods" id="inputOrderedGoods">          
          <option selected>Choose Goods</option>
          {% for item in goods_list %}
          <option value="{{ item.0 }}">{{ item.0 }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <label for="inputAddress">Destination Address</label>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" name="destination_address" id="inputAddress">
          <option selected>Choose Destination</option>
          {% for item in address_list %}
          <option value="{{ item.0 }}">{{ item.0 }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <label for="inputDate">Delivery Date (FORMAT = DD-MM-YYYY)</label>
    <input type="text" name="date" id="inputDate" class="form-control" placeholder="Date" required>
    <label for="inputMethod">Method</label>
    <input type="text" name="method" id="inputMethod" class="form-control" placeholder="Method" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock %}