{% extends '../../_base.html' %}
{% load static %}

{% block title %}ToysRent | Delivery Index{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 text-center">Delivery Index</h1>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Delivery ID</th>
        <th scope="col">Order ID</th>
        <th scope="col">Total Price</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 (member view)</td>
        <td>
          <ul>
            <li>A - 1</li>
            <li>B - 1</li>
          </ul>
        </td>
        <td>Rp. 60000</td>
        <td>April 20 2019</td>
        <td>
          <button type="button" class="btn btn-outline-primary">Write Review</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1 (admin view)</td>
        <td>
          <ul>
            <li>A - 1</li>
            <li>B - 1</li>
          </ul>
        </td>
        <td>Rp. 60000</td>
        <td>April 20 2019</td>
        <td>
          <button type="button" class="btn btn-outline-warning">Update</button>
          <button type="button" class="btn btn-outline-primary">Write Review</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}