{% extends '../../_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}

{% block content %}
{% for item in delivery_list %}
<div class="container">
  <form class="form-signin" action="{% url 'toys:delivery_update' item.0 %}" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Delivery Update Form</h2>
    <label for="inputOrderedGoods">Ordered Goods</label>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" name="ordered_goods" id="inputOrderedGoods">
          <option value="{{ item.1 }}" selected>{{ item.1 }}</option>
          {% for goods_item in goods_list %}
          <option value="{{ goods_item.0 }}">{{ goods_item.0 }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <label for="inputAddress">Destination Address</label>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" name="destination_address" id="inputAddress">
          <option value="{{ item.6 }}" selected>{{ item.6 }}</option>
          {% for address_item in address_list %}
          <option value="{{ address_item.0 }}">{{ address_item.0 }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <label for="inputDate">Delivery Date (FORMAT = DD-MM-YYYY)</label>
    <input type="text" name="date" id="inputDate" class="form-control" value="{{ item.4 }}" placeholder="Date" required>
    <label for="inputMethod">Method</label>
    <input type="text" name="method" id="inputMethod" class="form-control" value="{{ item.2 }}"placeholder="Method" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endfor %}
{% endblock %}